# Core dan dependencies dasar
streamlit==1.28.0
numpy==1.24.3
pandas==2.0.3
matplotlib==3.7.2

# Data format handlers
openpyxl==3.1.2

# Geospatial core
shapely==2.0.1
fiona==1.9.4
pyogrio==0.7.1
geopandas==0.13.0

# Visualization dan mapping
folium==0.14.0
streamlit-folium==0.15.1
contextily==1.3.0

# Export formats
simplekml==1.3.6
